%p
  = equipment.asset_code
%p
  = equipment.registration_no
%br
%p
  = equipment.asset_subclass
%br
%p
  = equipment.description
%br
%p
  = equipment.model
%p
  = equipment.product_pin
%p
  = equipment.num_of_tyres
