<%=form_for(@manager, :html => { :multipart => true }, :validate => true) do |f| %>

  <br/>

  <div class="field">
    <%= f.fields_for :profile do |profile_builder| %>
      <%=profile_builder.label :fName %>
      <%= profile_builder.text_field :fName %>

  <br/>
      <%= profile_builder.label :oName %>
      <%= profile_builder.text_field :oName %>

  <br/>
      <%= profile_builder.label :lName %>
      <%= profile_builder.text_field :lName %>
    <% end -%>
  </div>

  <br/>
  <div class="field">
    <%= f.label :user_name %>
    <%= f.text_field :user_name %>
  </div>
  <br/>
  <div class="field">


    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <br/>

  <div class="field">
    <%= f.fields_for :image do |image_builder| %>
      <%= image_builder.label :file %>
      <%= image_builder.file_field :file %>
    <% end -%>
  </div>

  <br/>

  <div class="field">
    <%= f.fields_for :contact do |contact_builder| %>
      <%=contact_builder.label :email %>
      <%= contact_builder.text_field :email %>

  <br/>
      <%= contact_builder.label :phone_no %>
      <%= contact_builder.text_field :phone_no %>

  <br/>
      <%= contact_builder.label :home %>
      <%= contact_builder.text_field :home %>
    <% end -%>
  </div>

  <br/>
  <div class="field">
    <%= f.submit "Register" %>
  </div>
<% end %>
