<%=form_for(@manager, :html => { :multipart => true }, :validate => true) do |f| %>
  <br/>
  <div class="field">
    <%= f.label :user_name %>
    <%= f.text_field :user_name %>
  </div>

  <br/>

  <div class="field">
    <%= f.label :profile.fName %>
    <%= f.text_field :profile.fName %>
  </div>
  <div class="field">

  <br/>

    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <br/>

  <div class="field">
    <%= f.label :photo %>
    <%= f.file_field :photo %>
  </div>

  <br/>

  <div class="field">
    <%= f.submit "Register" %>
  </div>
<% end %>
