= @intake.equipment.registration_no
%br
= @intake.fuel.name
%br
= @intake.employee.profile.fName
%br
= @intake.distance_covered
%br
= @intake.price_per_litre
%br
= @intake.location
%br
= @intake.quantity

