=semantic_form_for(@driver, :as => :name, :html => { :multipart => true }, :validate => true) do |f| 
  -logger.debug "Driver should not be nil #{!@driver.nil?}"
  %br
  .field
    = f.semantic_fields_for :profile do |prof_builder| 
      = prof_builder.inputs "Profile" do
        %br
        .field
          = prof_builder.input :fName 
        %br
        .field
          = prof_builder.input :oName 
        %br
        .field
          = prof_builder.input :lName 
  %br
  .field
    = f.semantic_fields_for :contact do |contact_builder| 
      = contact_builder.inputs "Contact and Location" do
        %br
        .field
          = contact_builder.input :email
        %br
        .field
          = contact_builder.input :phone
        %br
        .field
          = contact_builder.input :home
  %br
  .field
    - @driver.build_image
    = f.semantic_fields_for :image do |image_builder| 
      = image_builder.inputs do 
        %br
        .field
          = image_builder.input :file

  .field 
    = f.buttons do
      = f.commit_button "Add Driver" 
